<div id="page-wrapper" class="text-center">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Monitoring des deposits</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Bilan Deposit</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p><strong>Deposit initial</strong></p>
                            <p><strong>{{max}}</strong>FCFA</p>
                        </div>
                        <div class="col-sm-4">       
                            <p><strong>Consomme {{ dynamic }}FCFA</strong></p>
                            <progressbar class="progress-striped active" [max]="max" [value]="dynamic" [type]="type">
                                <i>{{ ( (dynamic * 100) / max ) }}%</i>
                            </progressbar>
                        </div>
                        <div class="col-sm-3">
                            <p><strong>Deposit restant</strong></p>
                            <p><strong>{{monitoringDepositAdminpdv.depositRestant}}</strong>FCFA</p>
                        </div>
                        <div class="col-sm-2">
                            <p><strong>Commission</strong></p>
                            <p><strong>{{monitoringDepositAdminpdv.commission}}</strong>FCFA</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Consommation du deposit par service</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Service</th>
                                    <th>Montant consomme</th>
                                    <th>Commission</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor=" let consommationdepositparservicetype of consommationdepositparservicetypeList; let i = index ">
                                    <td>{{i + 1}}</td>
                                    <td>{{ consommationdepositparservicetype.service  }}</td>
                                    <td>{{ consommationdepositparservicetype.montantConsomme  }}</td>
                                    <td>{{ consommationdepositparservicetype.commission  }}</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>{{ "Total" | uppercase }}</td>
                                    <td>2000000</td>
                                    <td>200000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Consommation du deposit par Point de vente</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pdv</th>
                                    <th>Montant consomme</th>
                                    <th>Commission</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let consommationdepositparpdv of consommationdepositparpdvList; let i = index ">
                                    <td>{{i + 1}}</td>
                                    <td>{{ consommationdepositparpdv.pdv | uppercase }}</td>
                                    <td>{{ consommationdepositparpdv.montantConsomme  }}</td>
                                    <td>{{ consommationdepositparpdv.commission  }}</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>{{ "Total" | uppercase }}</td>
                                    <td>2000000</td>
                                    <td>200000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Historique des recouvrement</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Pts de Vente</th>
                                    <th>Montant consomme</th>
                                    <th>Commission</th>
                                    <th>Montant recouvre</th>
                                    <th>Montant restant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let recouvrementadminpdv of recouvrementadminpdvList; let i = index ">
                                    <td>{{i + 1}}</td>
                                    <td>{{ recouvrementadminpdv.date  }}</td>
                                    <td>{{ recouvrementadminpdv.pdv | uppercase }}</td>
                                    <td>{{ recouvrementadminpdv.montantConsomme  }}</td>
                                    <td>{{ recouvrementadminpdv.commission  }}</td>
                                    <td>{{ recouvrementadminpdv.montantRecouvre  }}</td>
                                    <td>{{ recouvrementadminpdv.montantRestant  }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>