<!DOCTYPE html>
<html lang="fr">

<head></head>
<body onLoad="window.print();">
<div id="wrapper">

    <div [hidden]="this.formvisible!='ec'" class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default" >
        <div class="panel-heading">
            <p align="right" >
                Prénom Opérateur: ...<br>
                Nom Opérateur: ....<br>
                Numéro Opérateur : 784448245 <br> </p>
        </div>
        <div class="panel-body">
            Numéro Transaction: ...<br>
            <table>
                <tr class="text-uppercase">
                    <td width="200px">
                        Prénom Expéditeur: ....<br>
                        Nom Expéditeur: ........<br>
                        Téléphone Expéditeur:........<br>

                    </td>

                    <td>
                    <td>
                        Prénom Destinataire: .......<br>
                        Nom Destinataire: .........<br>
                        Téléphone Destinataire:......<br>
                        Montant Envoyé :...<br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    <div [hidden]="this.formvisible!='pc'"  class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p align="right" >
                    Prénom Opérateur: ...<br>
                    Nom Opérateur: ....<br>
                    Numéro Opérateur : 784448245 <br> </p>
            </div>
            <div class="panel-body">
                Numéro Transaction: ...<br>
                <table>
                    <tr class="text-uppercase">
                        <td width="200px">
                            Référence: ...<br>
                            Service: ...<br>
                            Montant:...<br>

                        </td>
                        <td>
                            Nom & Prénom:...<br>
                            Téléphone:...<br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div [hidden]="this.formvisible!='aj'"  class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p align="right" >
                    Prénom Opérateur: ...<br>
                    Nom Opérateur: ....<br>
                    Numéro Opérateur : 784448245 <br> </p>
            </div>
            <div class="panel-body">
                Numéro Transaction: ...<br>
                <table>
                    <tr class="text-uppercase">
                        <td width="200px">
                            Nom Achéteur: ...<br>
                            Prénom Achéteur: ...<br>
                            Téléphone Achéteur:...<br>

                        </td>
                        <td>
                            Type de Carte:...<br>
                            Nombre de Carte:...<br>
                            Montant:...<br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div [hidden]="this.formvisible!='rgs'"  class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p align="right" >
                    Prénom Opérateur: ...<br>
                    Nom Opérateur: ....<br>
                    Numéro Opérateur : 784448245 <br> </p>
            </div>
            <div class="panel-body">
                Numéro Transaction: ...<br>
                <table>
                    <tr class="text-uppercase">
                        <td width="200px">
                            Nom Client: ...<br>
                            Prénom Client: ...<br>
                            Téléphone Client:...<br>

                        </td>
                        <td>
                            Référence Facture:...<br>
                            Montant Payé:...<br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div [hidden]="this.formvisible!='acw'"  class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p align="right" >
                    Prénom Opérateur: ...<br>
                    Nom Opérateur: ....<br>
                    Numéro Opérateur : 784448245 <br> </p>
            </div>
            <div class="panel-body">
                Numéro Transaction: ...<br>
                <table>
                    <tr class="text-uppercase">
                        <td width="200px">
                            Nom Client: ...<br>
                            Prénom Client: ...<br>
                            Téléphone Client:...<br>

                        </td>
                        <td>
                            Code Woyofal:...<br>
                            Montant Payé:...<br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</div>
</body>
</html>
