<div>
    <nav id="nav" class="nav navbar-default" >
            <img src="assets/Logo-officiel-Sentool.png"/>
             <form class="form form-inline pull-right" (ngSubmit)="authentificate()" #loginForm="ngForm" *ngIf="phase1">
                <div class="form-group" style="color: red" *ngIf="!this.fakevalues">Login ou Mot de pass invalide! Veuillez reprendre la saisie.</div>
                    <input class="form-group form-control" type="text" [(ngModel)]="this.userName" required autofocus id="userName" name="userName"  placeholder="identifiant"/>
                    <input class="form-group form-control" type="password" [(ngModel)]="this.userPwd" required id="userPwd" name="userPwd" placeholder="password"/>
                  <input type="button" value="Valider" class="btn btn-success" type="submit" [disabled]="!loginForm.valid"/>
             </form>

            <form class="form form-inline pull-right" (ngSubmit)="authentificateBySMS()" #loginNextForm="ngForm" *ngIf="!phase1">
                <div class="form-group" style="color: red" *ngIf="!this.phase2fakevalues">Le code que vous avez saisi est incorrect! Veuillez reprendre la saisie.</div>

                <input type="text" [(ngModel)]="this.fromSMS" name="fromSMS" id="fromSMS"  class="form-group form-control" placeholder="SMS code" required autofocus>

                <input class="btn btn-success" value="Se connecter" type="button" type="submit" [disabled]="!loginNextForm.form.valid"  />
            </form>

   </nav>
   <div class="row" id="inscription">
            <div class="col-lg-6">
                <img src="assets/Outile.png"/>
            </div>
            <div id="form" class="col-lg-5">
                <h2>Souscrivez à la plateforme Sentool</h2>
                <form #f="ngForm" (ngSubmit)="authentificate()" name="form">
                    <div  class="form-inline form-group">
                            <input  type="text" id="prenom" required [(ngModel)]="prenom" name="prenom" placeholder="prenom" class="form-control" />
                            <input  type="text" id="nom" [(ngModel)]="nom" required name="nom" placeholder="nom" class="form-control"/>
                    </div>
                    <div class="form-inline form-group">
                        <input type="email" [(ngModel)]="email" name="email" required  name="email" placeholder="email" class="form-control"  />
                        <input type="tel" [(ngModel)]="telephone" name="tel" required name="tel" placeholder="telephone" class="form-control"  />
                    </div>
                    <div class="form-group form-inline">
                        <input type="text" [(ngModel)]="nometps" name="entreprise" required placeholder="nom entreprise" class="form-control" />
                        <input type="text" [(ngModel)]="nomshop" name="boutique" placeholder="nom boutique en ligne(facultatif)" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label *ngIf="!region"> Votre Région </label>
                            <select #t [(ngModel)]="region" name="region" class="form-control" required (change)="departement(t.value)">
                                <option *ngFor="let region of regions" [value]="region.id">{{region.name}}</option>
                            </select>
                        
                    </div>
                    <div class="form-group" *ngIf="region">
                        <label *ngIf="!zone"> Votre Zone dans {{getRegionName(region)}} </label>
                        <select name="zone" #d [(ngModel)]="zone"  class="form-control" required (change)="souszones(zone)"  placeholder="--veuillez choisir votre departement--">
                            <option *ngFor="let dep of departements" [value]="dep.id">{{dep.name}}</option>
                        </select>
                    </div>

                    <div class="form-group" *ngIf="zone">
                        <label *ngIf="!souszone"> Votre sous zone dans {{getZoneName(zone)}} </label>
                        <select name="sdep" class="form-control"  [(ngModel)]="souszone" required  placeholder="--veuillez choisir votre zone--">
                            <option *ngFor="let sdep of sdepartements" [value]="sdep.name">{{sdep.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input name="adresse" required *ngIf="souszone" [(ngModel)]="adresse" type="text" placeholder="adresse exacte" class="form-control" />
                    </div>
                    <input   type="button"  (click)="inscrire()" [disabled]="!f.form.valid" class="btn btn-success btn-block"  value="valider" />
             </form>
          </div>
    </div>
</div>



<div *ngIf="this.loading">
    <app-loader></app-loader>    
</div>




<!-- 

<div id="authcomponent">

    <div class="row" style="text-align: center ; padding-top: 4rem ; ">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
           <h1 style="font-family:sans-serif; ;font-weight: bolder;font-style: italic;">BIENVENUE DANS LE FUTUR</h1>
        </div>
    </div>

    <div class="row" style="text-align: center ; ">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <img src="assets/Logo-officiel-Sentool.png">
        </div>
    </div>


    <div class="row">

    <div class="col-sm-3 col-md-4" >
    </div>
        <div class="col-sm-6 col-md-4 col-xs-12" id="over-account-wall" style="height: 0rem !important;" >

            <div class="account-wall" *ngIf="phase1" >

                <form class="form-signin" (ngSubmit)="authentificate()" #heroForm="ngForm">
                    <div [hidden]="this.fakevalues" class="alert alert-danger">Login ou Mot de pass invalide !</div>

                    <input type="text" [(ngModel)]="this.userName" name="login" id="userlogin"  class="form-control" placeholder="Login" required autofocus>

                    <input type="password" [(ngModel)]="this.userPwd"   name="pwd" id="userpwd" class="form-control" placeholder="Mot de pass" required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!heroForm.form.valid" >
                        Login</button>
                    
                </form>
                
            </div>

            <div class="account-wall" *ngIf="!phase1">

                <form class="form-signin" (ngSubmit)="authentificateBySMS()" #heroNextForm="ngForm">
                    <div [hidden]="this.phase2fakevalues" class="alert alert-danger">Le code que vous avez saisi est incorrect !</div>

                    <input type="text" [(ngModel)]="this.fromSMS" name="fromSMS" id="fromSMS"  class="form-control" placeholder="SMS code" required autofocus>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!heroNextForm.form.valid" >Se Connecter</button>
                    

                </form>

            </div>
        </div>
    </div>
</div>


 -->