<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            POSTE-CASH
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-pills">
                <li class="active"><a href="#rechargementespece-pills" data-toggle="tab">Rechargement Espece</a>
                </li>
                <li><a href="#retraitespece-pills" data-toggle="tab">Retrait Espece</a>
                </li>
                <li><a href="#achatjula-pills" data-toggle="tab">Achat Jula</a>
                </li>
                <li><a href="#reglementsenelec-pills" data-toggle="tab">Réglement Senelec</a>
                </li>
                <li><a href="#achatcodewoyofal-pills" data-toggle="tab">Achat Code Woyofal</a>
                </li>
                <li><a href="#achatcredittelephone-pills" data-toggle="tab">Achat Credit Téléphonique</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade col-sm-6 col-xs-12 in active" id="rechargementespece-pills">
                    <fieldset>
                        <h4>FORMULAIRE RECHARGEMENT ESPECE</h4>
                    </fieldset>
                    <form (ngSubmit)="validrechargementespece()" #rechargementespece="ngForm" autocomplete="on">

                        <input type="number" [(ngModel)]="this.telephone"   name="telephone" id="telephone" class="form-control" placeholder="téléphone client" required>

                        <input type="number" [(ngModel)]="this.montant"   name="montant" id="montant" class="form-control" placeholder="montant" required>

                        <button type="submit" class="btn btn-success" [disabled]="!rechargementespece.form.valid">Acheter</button>
                        <button type="reset" class="btn btn-danger" [disabled]="!rechargementespece.form.valid" >Annuler</button>

                         <h5>Le montant de {{rechargeEspece.montant}} FCFA a été rechargé sur le {{rechargeEspece.tel}} avec succés. Merci!!!</h5>

                    </form>
                    </div>
                <div class="tab-pane fade col-sm-6 col-xs-12" id="retraitespece-pills">
                    <fieldset>
                        <h4>FORMULAIRE RETRAIT ESPECE</h4>
                    </fieldset>
                    <form (ngSubmit)="retraitespece()" #retraitespece="ngForm" autocomplete="on">

                        <input type="number" [(ngModel)]="this.telephon"   name="telephon" id="telephon" class="form-control" placeholder="téléphone client" required>

                        <input type="number" [(ngModel)]="this.montan"   name="montan" id="montan" class="form-control" placeholder="montant à retirer" required>

                        <button type="submit" class="btn btn-success" [disabled]="!retraitespece.form.valid">Acheter</button>
                        <button type="reset" class="btn btn-danger" [disabled]="!retraitespece.form.valid" >Annuler</button>


                         <h5> La montant de {{retraitEspece.mnt}} FCFA vient d'être retiré sur le {{retraitEspece.tel}} avec succés. Merci!!!</h5>

                    </form>
                </div>

                <div class=" tab-pane fade col-sm-6 col-xs-12" id="achatjula-pills" >
                    <fieldset>
                        <h4>FORMULAIRE D'ACHAT JULA</h4>
                    </fieldset>
                    <form (ngSubmit)="validAchatJula()" #achatjula="ngForm" autocomplete="on">

                        <input type="text" [(ngModel)]="this.noma" name="noma" id="noma"  class="form-control" placeholder="nom achéteur" required autofocus>

                        <input type="text" [(ngModel)]="this.prenoma" name="prenoma" id="prenoma"  class="form-control" placeholder="prénom achéteur" required >

                        <input type="number" [(ngModel)]="this.tela"   name="tela" id="tela" class="form-control" placeholder="téléphone achéteur" required>

                        <input type="text" [(ngModel)]="this.tca"   name="tca" id="tca" class="form-control" placeholder="type de carte" required>

                        <input type="number" [(ngModel)]="this.nbc"   name="nbc" id="nbc" class="form-control" placeholder="nombre de carte" required>

                        <input type="number" [(ngModel)]="this.mnt"   name="mnt" id="mnt" class="form-control" placeholder="montant à envoyer" required>

                        <button type="submit" class="btn btn-success" [disabled]="!achatjula.form.valid">Acheter</button>
                        <button type="reset" class="btn btn-danger" [disabled]="!achatjula.form.valid" >Annuler</button>



                    </form>
                </div>
                <div class="tab-pane fade col-sm-6 col-xs-12" id="reglementsenelec-pills">
    <fieldset>
        <h4>FORMULAIRE REGLEMENT SENELEC</h4>
    </fieldset>
    <form (ngSubmit)="validateReglementSenelec()" #reglementsenelec="ngForm" autocomplete="on">

        <input type="text" [(ngModel)]="this.refi" name="refi" id="refi"  class="form-control" placeholder="référence de la facture " required autofocus>

        <input type="number" [(ngModel)]="this.mntf"   name="mntf" id="mntf" class="form-control" placeholder="montant à payer" required>

        <input type="text" [(ngModel)]="this.nomp"   name="nomp" id="nomp" class="form-control" placeholder="nom client " required>
        <input type="text" [(ngModel)]="this.prenomp"   name="prenomp" id="prenomp" class="form-control" placeholder="prénom client " required>

        <input type="number" [(ngModel)]="this.teli"   name="teli" id="teli" class="form-control" placeholder="téléphone client " required>

        <br><button class="btn btn-success" type="submit" [disabled]="!reglementsenelec.form.valid" >
        Envoyer</button>
        <button class="btn btn-danger" [disabled]="!reglementsenelec.form.valid" type="reset">
            Annuler</button>

    </form>
</div>
                <div class="tab-pane fade col-sm-6 col-xs-12" id="achatcodewoyofal-pills">
                    <h4>FORMULAIRE ACHAT CODE WOYOFAL</h4>
                    <form (ngSubmit)="validachatcodewoyofal()" #achatcodewoyofal="ngForm" autocomplete="on">

                        <input type="text" [(ngModel)]="this.nomc"   name="nomc" id="nomc" class="form-control" placeholder="nom client " required>
                        <input type="text" [(ngModel)]="this.prenomc"   name="prenomc" id="prenomc" class="form-control" placeholder="prénom client " required>

                        <input type="number" [(ngModel)]="this.telc"   name="telc" id="telc" class="form-control" placeholder="téléphone client " required>

                        <input type="number" [(ngModel)]="this.monts"   name="monts" id="monts" class="form-control" placeholder="montant" required>

                        <input type="text" [(ngModel)]="this.compteur"   name="compteur" id="compteur" class="form-control" placeholder="compteur " required>

                        <br><button class="btn btn-success" type="submit" [disabled]="!achatcodewoyofal.form.valid" >
                        Acheter</button>
                        <button class="btn btn-danger" [disabled]="!achatcodewoyofal.form.valid" type="reset">
                            Annuler</button>

                    </form></div>
                <div class="tab-pane fade col-sm-6 col-xs-12" id="achatcredittelephone-pills">
                    <fieldset>
                        <h4>FORMULAIRE D'ACHAT CREDIT TELEPHONIQUE</h4>
                    </fieldset>
                    <form (ngSubmit)="validachatcredittelephonique()" #achatcredittelephoniq="ngForm" autocomplete="on">

                        <input type="number" [(ngModel)]="this.tels"   name="tels" id="tels" class="form-control" placeholder="téléphone achéteur" required>

                        <input type="number" [(ngModel)]="this.montantt"   name="montantt" id="montantt" class="form-control" placeholder="montant" required>

                        <button type="submit" class="btn btn-success" [disabled]="!achatcredittelephoniq.form.valid">Acheter</button>
                        <button type="reset" class="btn btn-danger" [disabled]="!achatcredittelephoniq.form.valid" >Annuler</button>


                         <h5>Le montant de {{achatCreditTel.mnt}} FCFA a été rechargé sur le {{achatCreditTel.tel}} avec succés. Merci!!!</h5>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>