<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Status des reclamations</h1>
        </div>
    </div>

    <div class="col-sm-12">        
        <div class="row" style="margin-top: 2rem">
		    <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Liste des réclamations</h4>
                </div>
                <div class="panel-body">
                    <div >
                        <div>
                            <strong class="pull-left" >iqsd</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <br>
                        <div>hsj</div>
                        <hr>
                    </div>
                </div>
		 	</div>
		</div>
    </div>
</div>