<div class="table-responsive cart_info">
	<div class="text-center">
		<alert *ngIf="alert" type="success" dismissOnTimeout="100000" dismissible="true">
	  		<strong style="color: orange">Merci d'avoir commande chez nous!</strong><br>
	  		<strong style="color: orange">Un mail contenant les informations de paiement pour cette commande vous a ete envoyé sur votre compte.</strong>
		</alert>
	</div>
	<table class="table table-condensed">
		<thead>
			<tr class="cart_menu">
				<td class="image" >Article</td>
				<td class="description"></td>
				<td class="price">Prix</td>
				<td class="quantity">Quantité</td>
				<td class="total">Total</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ordered of orderedarticles; let i = index;" >
				<td class="cart_product">
					<a><img src="http://51.254.200.129/backecom/server-backend-upload/uploads/{{ordered.imagelink}}" alt="" height="150" ></a>
				</td>
				<td class="cart_description">
					<h4>{{ordered.designation}}</h4>
				</td>
				<td class="cart_price">
					<p>{{ordered.prix}} FCFA</p>
				</td>
				<td class="cart_quantity">
					<div class="cart_quantity_button">
						<a class="cart_quantity_up" (click)="augmenterqte(i)" style="cursor: pointer;"> + </a>
						<input class="cart_quantity_input" type="text" name="quantity" [(ngModel)]="ordered.qte" autocomplete="off" size="2">
						<span><a class="cart_quantity_down" (click)="diminuerqte(i)" style="cursor: pointer;"> - </a></span>
					</div>
				</td>
				<td class="cart_total">
					<p class="cart_total_price">{{ordered.montant}} FCFA</p>
				</td>
				<td class="cart_delete">
					<a class="cart_quantity_delete" (click)="supprimerarticle(i)"><i class="fa fa-times"></i></a>
				</td>
			</tr>
			<tr class="text-center">
					<td  colspan="3">
						<h3><table class="table table-condensed total-result">
							<tr>
								<td>Nombre d'articles</td>
								<td>{{orderedarticles.length}}</td>
							</tr>
							<tr>
								<td>Total</td>
								<td><span class="cart_total_price">{{montant}} FCFA</span></td>
							</tr>
						</table></h3>
					</td>
					<td colspan="2">&nbsp;</td>
				</tr>
		</tbody>
	</table>
</div>


<div bsModal #childModalCommand="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" >
      <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalCommand()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Entrez vos informations</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="commander()" #validercommande="ngForm" autocomplete="on">
          <div class="form-group row">
            <div class="form-group col-sm-4">
              <label for="inputNom">Nom *</label>
              <input id="inputNom" name="inputNom" [(ngModel)]="this.nom" type="text" placeholder="Votre nom" class="form-control" required>
            </div>
            <div class="form-group col-sm-8">
              <label for="inputPrenom">Prenom *</label>
              <input id="inputPrenom" name="inputPrenom" [(ngModel)]="this.prenom" type="text" placeholder="Votre prénom" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input id="inputEmail" name="inputEmail" [(ngModel)]="this.email" type="email" placeholder="Votre email" class="form-control">
          </div>
          <div class="form-group row">
            <div class="form-group col-sm-8">
              <label for="inputTel">Téléphone *</label>
              <input id="inputTel" name="inputTel" [(ngModel)]="this.telephone" type="tel" placeholder="Votre téléphone" class="form-control" required>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="button" class="btn btn-default" (click)="hideChildModalCommand()" style="margin-left: 2rem;">Retour</button>
            <button type="submit" class="btn btn-success" [disabled]="!validercommande.form.valid">Valider</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

