<div id="page-wrapper">

  <div class="row" style="margin-top: 3rem">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="text-center">MON GUIDE D'UTILISATION</h1>
          </div>
          <!-- .panel-heading -->
          <div class="panel-body">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupIntroduction">Introduction #0</a>
                  </h4>
                </div>
                <div id="collapseSupIntroduction" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseDashboard">Tableau de bord (Dashboard) #1</a>
                  </h4>
                </div>
                <div id="collapseDashboard" class="panel-collapse collapse">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupMonitoring">Monitoring des déposits #2</a>
                  </h4>
                </div>
                <div id="collapseSupMonitoring" class="panel-collapse collapse">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupParametreCompte">Paramètre des comptes #3</a>
                  </h4>
                </div>
                <div id="collapseSupParametreCompte" class="panel-collapse collapse">
                  <div class="panel-body">
                    <h4>Création du compte Caissier</h4>
                    <p>Après avoir accedé à l’interface Superviseur, il vous reste maintenant à créer le compte caissier pour le gérant de votre point de vente</p>
                    <marquee style="color: red"><u>NB</u> : Ceci est obligatoire même si vous êtes le gérant de votre propre point de vente</marquee>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/parametrecomptesup.PNG" alt="Card image cap">
                    <p>Après avoir cliqué sur « Paramètres des comptes » vous aurez accès à cette page.</p>
                    <p>Maintenant cliquez sur <strong>« Créer un compte Caissier »</strong></p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/controlecomptesup.PNG" alt="Card image cap">
                    <p>Après avoir cliqué sur <strong>« Créer un compte Caissier »</strong>, vous aurez accès à cette onglet</p>
                    <p>Mettre les informations du <strong style="color:#1ab7ea">caissier</strong> et sur la partie <strong style="color:#1ab7ea">« Login »</strong> créer un identifiant pour votre caissier <strong style="color:red">(différent de votre propre identifiant)</strong> puis compléter le reste des informations et cliquer sur <strong style="color:green">Valider</strong></p>
                    <img class="card-img-top img-responsive img-center" src="../../assets/imgguide/superviseurAjoutCaissier.PNG" alt="Card image cap">
                    <p>Après avoir validé, le caissier recevra un SMS avec son identifiant et son mot de passe que le superviseur pourra modifier sur la partie <strong style="color:blue">« Option »</strong> de l’onglet <strong style="color:blue">« Paramètres des comptes »</strong> puis sur <strong style="color:blue">« Modifier »</strong> pour choisir un nouveau mot de passe.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupReclamation">Status des réclamations #4</a>
                  </h4>
                </div>
                <div id="collapseSupReclamation" class="panel-collapse collapse">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupPropoAide">Proposition d'Aide à la décision #5</a>
                  </h4>
                </div>
                <div id="collapseSupPropoAide" class="panel-collapse collapse">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupComptabilite">Comptabilité #6</a>
                  </h4>
                </div>
                <div id="collapseSupComptabilite" class="panel-collapse collapse">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupCRM">CRM #7</a>
                  </h4>
                </div>
                <div id="collapseSupCRM" class="panel-collapse collapse">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupConsulterpret">Consulter les prêts #8</a>
                  </h4>
                </div>
                <div id="collapseSupConsulterpret" class="panel-collapse collapse">
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>

</div>

<div *ngIf="this.loading">
    <app-loader></app-loader>
</div>


