<div id="page-wrapper">
    <div class="row" >
        <div class="col-sm-12">
            <h1 class="page-header">Comptabilité</h1> 

	            <ul class="nav nav-pills">
	                <li class="active"><a href="#caisse" data-toggle="tab">Caisse</a>
	                </li>
	                <li><a href="#journal" data-toggle="tab">Journal</a>
	                </li>
	                <li><a href="#exploitations" data-toggle="tab">Exploitation</a>
	                </li>
	                <li><a href="#personnalisation" data-toggle="tab">Personnalisation</a>
	                </li>
	                <!-- <li><a href="#reclamation" data-toggle="tab">Réclamation</a>
	                </li> -->
	            </ul>


            <div class="tab-content">

			    <div class="tab-pane fade in active" id="caisse">

		            <div class="row blockcaisse" *ngFor="let pdv of pdvCaisses; let i = index; let isOdd = odd" [ngClass]="{'colored-caisse' : !isOdd}">
				        <div class="col-sm-3 col-xs-12">
				                <label>{{pdv.nom}}</label>
				        </div>
				        <div class="col-sm-3 col-xs-12">
				                <label>Fond de caisse : {{pdv.caisse}}</label>
				        </div>
				        <div class="col-sm-3 col-xs-12" *ngIf="!isActif(pdv.nom)">
				                <button class="btn btn-success" (click)="approvisionnement=approvisionnement+'-'+pdv.nom+'-'">Approvisionner</button>
				        </div>
				        <div class="col-sm-3 col-xs-12" *ngIf="isActif(pdv.nom)">
				                <input type="number" [(ngModel)]="montantajoutee"   name="caiss" class="form-control"  placeholder="Montant Approvisionnement" required>
				        </div>
				        <div class="col-sm-3 col-xs-12" *ngIf="isActif(pdv.nom)">
				                <button class="btn btn-success" (click)="approvisionnercaisse(pdv.nom)">Valider</button>
				        </div>
			        </div>
			    </div>	


			    <div class="row tab-pane fade in" id="journal" >
			       
		            <div class="row blockcaisse" *ngFor="let pdv of pdvCaisses; let i = index; let isOdd = odd" [ngClass]="{'colored-caisse' : !isOdd}" >

				        <div class="col-sm-3 col-xs-4">
			                <label>{{pdv.nom}}</label>
				        </div>
				        <div class="col-sm-3 col-xs-4">
	                         <button class="btn btn-success"  href="#listc" data-toggle="collapse"  (click)="listercharges(i)">Lister Charges</button>
				        </div>
				        <div class="col-sm-3 col-xs-4">
			                 <button class="btn btn-success"  href="#ajout" data-toggle="collapse"  (click)="ajoutercharges(i)">
			                 Ajouter Charge
			                 </button>
				        </div>
				         <div class="col-sm-3 col-xs-4">
	                         <button class="btn btn-success"  href="#listr" data-toggle="collapse"  (click)="listerrevenus(i)">Lister Revenus</button>
				        </div>

	                    <div class="col-sm-12 col-xs-6" >
                                    
                                    <div id="listc" *ngIf="i==estselection">
                                        
                                           <div class="panel-body">
                            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="dataTables-example_wrapper">
                            	<div class="row">
                            		<div class="col-sm-12">
                            			
	                	  <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="charges|filtrecharges:filtre" #fopad="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th colspan="3" style="padding-right: 3rem ;">
                                            Rechercher :
                                            <input class="form-control" [(ngModel)]="filtre"/>
                                        </th>
		                            </tr>
                                    <tr>
                                        <th><mfDefaultSorter by="date">Date</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="libelle">Libellé</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="montant">Montant</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="service">Service</mfDefaultSorter></th>
                                   </tr>
                            
                                </thead>
                                <tbody *ngIf="this.charges">
                                <tr *ngFor="let charges of fopad.data">
                                    <td>{{charges.date}}</td>
                                    <td>{{charges.libelle}}</td>
                                    <td>{{charges.montant}}</td>
                                    <td>{{charges.service}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
			                        </div>
			                    </div>
			                </div>
			                            <!-- /.table-responsive -->
                        </div>
                                    </div>
                                    
                        </div>

                           <div class="col-sm-12 col-xs-6" >
                                    
                                    <div id="listr" *ngIf="i==estselectionr">
                                        
                                           <div class="panel-body">
                            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="dataTables-example_wrapper">
                            	<div class="row">
                            		<div class="col-sm-12">
                            			
	                	  <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="revenus|filtrerevenus:filtre" #fopa="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th colspan="3" style="padding-right: 3rem ;">
                                            Rechercher :
                                            <input class="form-control" [(ngModel)]="filtre"/>
                                        </th>
		                            </tr>
                                    <tr>
                                        <th><mfDefaultSorter by="date">Date</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="libelle">Libellé</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="montant">Montant</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="service">Service</mfDefaultSorter></th>
                                   </tr>
                            
                                </thead>
                                <tbody *ngIf="this.revenus">
                                <tr *ngFor="let revenus of fopa.data">
                                    <td>{{revenus.date}}</td>
                                    <td>{{revenus.libelle}}</td>
                                    <td>{{revenus.montant}}</td>
                                    <td>{{revenus.service}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
			                        </div>
			                    </div>
			                </div>
			                            <!-- /.table-responsive -->
                        </div>
                                    </div>
                                    
                        </div>
				        
				        <div class="col-sm-12 col-xs-12" >
				                 <div id="ajout" *ngIf="i==estselectionf">
				                 		<form class="form-signin" (ngSubmit)="ajouterCharge()" #chargeForm="ngForm">
										    <input type="text" [(ngModel)]="libelleCharge"   name="libelle" id="libelle" class="form-control"  placeholder="Libelle charge" required>
										    <input type="number" [(ngModel)]="montantCharge"   name="montant" id="montant" class="form-control" placeholder="Montant de la dépense" required>
										    <input type="number" [(ngModel)]="service"   name="service" id="montant" class="form-control" placeholder="Service concerné" required>

							                <button id="validcharge" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!chargeForm.form.valid" >Enregister</button>
								        </form>
				        </div>

				    	</div>

			    </div>	
			    </div>	


			    <div class="row tab-pane fade in" id="exploitations">
			           <div class="row blockcaisse" *ngFor="let pdv of pdvCaisses; let i = index; let isOdd = odd" [ngClass]="{'colored-caisse' : !isOdd}" >

				        <div class="col-sm-3 col-xs-4">
			                <label>{{pdv.nom}}</label>
				        </div>
				        <div class="col-sm-3 col-xs-4">
	                         <button class="btn btn-success"  href="#exp" data-toggle="collapse"  (click)="listerventes(i)">Lister Ventes</button>
				        </div>
				      

	                    <div class="col-sm-12 col-xs-6" >
                                    
                                    <div id="exp" *ngIf="i==estselectionfr">
                                        
                                           <div class="panel-body">
                            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="dataTables-example_wrapper">
                            	<div class="row">
                            		<div class="col-sm-12">
                            			
	                	  <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="exploitation|filtreexploitation:filtre" #fopd="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th colspan="3" style="padding-right: 3rem ;">
                                            Rechercher :
                                            <input class="form-control" [(ngModel)]="filtre"/>
                                        </th>
		                            </tr>
                                    <tr>
                                        <th><mfDefaultSorter by="designation">Désignation</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="stocki">Stock Initial</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="vente">Ventes</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="stockf">Stock Final</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="mnt">Montant</mfDefaultSorter></th>
                                   </tr>
                            
                                </thead>
                                <tbody *ngIf="this.exploitation">
                                <tr *ngFor="let exploitation of fopd.data">
                                    <td>{{exploitation.designation}}</td>
                                    <td>{{exploitation.stocki}}</td>
                                    <td>{{exploitation.vente}}</td>
                                    <td>{{exploitation.stockf}}</td>
                                    <td>{{exploitation.mnt}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
			                        </div>
			                    </div>
			                </div>
			                            <!-- /.table-responsive -->
                        </div>
                                    </div>
                                    
                        </div>

                           <div class="col-sm-12 col-xs-6" >
                                    
                                    <div id="listr" *ngIf="i==estselectionr">
                                        
                                           <div class="panel-body">
                            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="dataTables-example_wrapper">
                            	<div class="row">
                            		<div class="col-sm-12">
                            			
	                	  <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="revenus|filtrerevenus:filtre" #fopa="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th colspan="3" style="padding-right: 3rem ;">
                                            Rechercher :
                                            <input class="form-control" [(ngModel)]="filtre"/>
                                        </th>
		                            </tr>
                                    <tr>
                                        <th><mfDefaultSorter by="date">Date</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="libelle">Libellé</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="montant">Montant</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="service">Service</mfDefaultSorter></th>
                                   </tr>
                            
                                </thead>
                                <tbody *ngIf="this.revenus">
                                <tr *ngFor="let revenus of fopa.data">
                                    <td>{{revenus.date}}</td>
                                    <td>{{revenus.libelle}}</td>
                                    <td>{{revenus.montant}}</td>
                                    <td>{{revenus.service}}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
			                        </div>
			                    </div>
			                </div>
			                            <!-- /.table-responsive -->
                        </div>
                                    </div>
                                    
                        </div>
				        
				    

			    </div>	
			    </div>	

			    <div class="row tab-pane fade in" id="personnalisation">
			        
		            
			    </div>

			    
	        </div>

	
        </div>
    </div>	
</div>


