<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Comptabilité</h1> 

	            <ul class="nav nav-pills">
	                <li class="active"><a href="#caisse" data-toggle="tab">Caisse</a>
	                </li>
	                <li><a href="#charge" data-toggle="tab">Charges</a>
	                </li>
	                <li><a href="#arretecaisse" data-toggle="tab">Arrêté de caisse</a>
	                </li>
	                <li><a href="#bilans" data-toggle="tab">Bilan</a>
	                </li>
	            </ul>


            <div class="tab-content">

			    <div class="tab-pane fade in active" id="caisse">

		            <div class="row blockcaisse" *ngFor="let pdv of pdvCaisses; let i = index; let isOdd = odd" [ngClass]="{'colored-caisse' : !isOdd}">
				        <div class="col-sm-3 col-xs-12">
				                <label>{{pdv.nom}}</label>
				        </div>
				        <div class="col-sm-3 col-xs-12">
				                <label>Fond de caisse : {{pdv.caisse}}</label>
				        </div>
				        <div class="col-sm-3 col-xs-12" *ngIf="!isActif(pdv.nom)">
				                <button class="btn btn-success" (click)="approvisionnement=approvisionnement+'-'+pdv.nom+'-'">Approvisionner</button>
				        </div>
				        <div class="col-sm-3 col-xs-12" *ngIf="isActif(pdv.nom)">
				                <input type="number" [(ngModel)]="montantajoutee"   name="caiss" class="form-control"  placeholder="Montant Approvisionnement" required>
				        </div>
				        <div class="col-sm-3 col-xs-12" *ngIf="isActif(pdv.nom)">
				                <button class="btn btn-success" (click)="approvisionnercaisse(pdv.nom)">Valider</button>
				        </div>
			        </div>
			    </div>	


			    <div class="row tab-pane fade" id="charge">
			        <div class="col-sm-4 col-xs-12">
			            <form class="form-signin" (ngSubmit)="ajouterCharge()" #chargeForm="ngForm">
						    <input type="text" [(ngModel)]="libelleCharge"   name="libelle" id="libelle" class="form-control"  placeholder="Libelle charge" required>
						    <input type="number" [(ngModel)]="montantCharge"   name="montant" id="montant" class="form-control" placeholder="Montant de la dépense" required>

			                <button id="validcharge" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!chargeForm.form.valid" >Enregister</button>
				        </form>
			        </div>
			    </div>	

			    <div class="row tab-pane fade" id="arretecaisse">
			        <div class="col-sm-4 col-xs-12">
			            <form class="form-signin" (ngSubmit)="ajouterCharge()" #chargeForm="ngForm">
						    <input type="text" [(ngModel)]="libelleCharge"   name="libelle" id="libelle" class="form-control"  placeholder="Libelle charge" required>
						    <input type="number" [(ngModel)]="montantCharge"   name="montant" id="montant" class="form-control" placeholder="Montant de la dépense" required>

			                <button id="validcharge" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!chargeForm.form.valid" >Enregister</button>
				        </form>
			        </div>
			    </div>	

			    <div class="row tab-pane fade" id="bilans">
			        <div class="col-sm-4 col-xs-12">
			            <form class="form-signin" (ngSubmit)="ajouterCharge()" #chargeForm="ngForm">
						    <input type="text" [(ngModel)]="libelleCharge"   name="libelle" id="libelle" class="form-control"  placeholder="Libelle charge" required>
						    <input type="number" [(ngModel)]="montantCharge"   name="montant" id="montant" class="form-control" placeholder="Montant de la dépense" required>

			                <button id="validcharge" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!chargeForm.form.valid" >Enregister</button>
				        </form>
			        </div>
			    </div>	
	        </div>

	
        </div>
    </div>	
</div>


