<div id="page-wrapper">
    <div class="row" >
        <div class="col-sm-12">
            <h1 class="page-header">Gestion Clientèle</h1> 
               
	            <div class="row" style="margin-bottom: 3rem;">
                    <div class="col-sm-offset-2 col-sm-8 col-xs-12">
	                <div class="col-sm-3 col-xs-6"><a class="active" href="#portefeuille" data-toggle="tab">Portefeuille</a>
	                </div>
	                <div class="col-sm-3 col-xs-6"><a href="#suivi" data-toggle="tab">Suivi</a></div>
	               
	                <div class="col-sm-3 col-xs-6"><a href="#prospection" data-toggle="tab" (click)="prospect()">Prospection</a></div>
	           
	                <div class="col-sm-3 col-xs-6"><a href="#suivicommande" data-toggle="tab" (click)="commandes()">Suivi Commandes</a></div>
	               </div>
	            
	            </div>
               

            <div class="tab-content">

             	 <div class="tab-pane fade in active col-sm-12 col-xs-3" id="portefeuille">

            	 	
		            	 	<table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="portefeuille|filtreportefeuille:filtre" #fpf="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
		                                <thead>
		                                    <tr>
		                                        <th colspan="3" style="padding-right: 3rem ;">
		                                            Rechercher :
		                                            <input class="form-control" [(ngModel)]="filtre"/>
		                                        </th>
				                            </tr>
		                                    <tr>
		                                        <th><mfDefaultSorter by="nom">Nom</mfDefaultSorter></th>
		                                        <th><mfDefaultSorter by="prenom">Prénom</mfDefaultSorter></th>
		                                        <th><mfDefaultSorter by="tel">Téléphone</mfDefaultSorter></th>
		                                        <th><mfDefaultSorter by="periodicite">Périodicité</mfDefaultSorter></th>
		                                        <th><mfDefaultSorter by="fidelite">Fidélité</mfDefaultSorter></th>
		                                   </tr>
		                            
		                                </thead>
		                                <tbody *ngIf="this.portefeuille">
		                                <tr *ngFor="let portefeuille of fpf.data">
		                                    <td>{{portefeuille.nom}}</td>
		                                    <td>{{portefeuille.prenom}}</td>
		                                    <td>{{portefeuille.telephone}}</td>
		                                    <td>{{portefeuille.periodicite}}</td>
		                                    <td>{{portefeuille.fidelite}}</td>
		                                </tr>
		                                </tbody>
		                                <tfoot>
		                                    <tr>
		                                        <td colspan="4">
		                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
		                                        </td>
		                                    </tr>
		                                </tfoot>

		                    </table>
		                   
            	 </div>
 
            	  <div class="tab-pane fade in col-sm-12 col-xs-3" id="suivi">

            	  			<div style="margin-left: 30rem; margin-bottom: 3rem;" class="col-xs-6 col-xs-12">
		            	 	 <button  href="#relance" data-toggle="tab" class="btn btn-primary" (click)="relanceMeth()">Relance</button>
		            	 	 <button href="#promotion" data-toggle="tab" class="btn btn-primary" (click)="promotionMeth()">Promotion</button>
		            	 	 </div>
		            	 	 	<div class="tab-content">
		            	 	  		<div class="tab-pane fade in col-sm-12 col-xs-12" id="relance">
			            	 	  		<table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="relance|filtrerelance:filtre" #frla="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
			                                <thead>
			                                    <tr>
			                                        <th colspan="3" style="padding-right: 3rem ;">
			                                            Rechercher :
			                                            <input class="form-control" [(ngModel)]="filtre"/>
			                                        </th>
					                            </tr>
			                                    <tr>
			                                    	 <th><mfDefaultSorter>Choisir</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter by="nom">Nom</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter by="prenom">Prénom</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter by="tel">Téléphone</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter by="service">Service</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter by="echeance">Echéance</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter >Action</mfDefaultSorter></th>
			                                   </tr>
			                            
			                                </thead>
			                                <tbody *ngIf="this.relance">
			                                <tr *ngFor="let relance of frla.data">
			                                	<td><input type="checkbox"></td>
			                                    <td>{{ getNom(relance.infosoperation) }}</td>
			                                    <td>{{ getPrenom(relance.infosoperation) }}</td>
			                                    <td>{{ getTelephone(relance.infosoperation) }}</td>
			                                    <td>{{relance.typeoperation}}</td>
			                                    <td>{{relance.echeance.date}}</td>
			                                    <td><button  class="btn btn-primary" (click)="envoyersms()">Envoyer sms</button>
			                                    </td>
			                                </tr>
			                                </tbody>
			                                <tfoot>
			                                    <tr>
			                                        <td colspan="4">
			                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
			                                        </td>
			                                    </tr>
			                                </tfoot>

			                    		</table>
		            	 	  		
		            				</div> 	  		
		            				<div class="tab-pane fade in col-sm-12 col-xs-12" id="promotion">
		            					<div style="margin-bottom: 3rem;">
		            					 <label>Filtrer Par : <select class="form-control input-sm" >
				                            <option>périodicité</option>
				                            <option >fidélité</option>
				                            </select>
				                         </label>

				                         <label>Service : <select class="form-control input-sm" >
				                            <option>assurance</option>
				                            <option >e-commerce</option>
				                            </select>
				                         </label>

				                           <button  class="btn btn-primary" (click)="envoyersms()">Envoyer sms</button>
		            					</div>	
			            	 	  		<table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="promotion|filtrepromotion:filtre" #fpr="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
			                                <thead>
			                                    <tr>
			                                        <th colspan="3" style="padding-right: 3rem ;">
			                                            Rechercher :
			                                            <input class="form-control" [(ngModel)]="filtre"/>
			                                        </th>
					                            </tr>
			                                    <tr>
			                                        <th><mfDefaultSorter by="nom">Nom</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter by="prenom">Prénom</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter by="periofidel">Périodicité/Fidélité</mfDefaultSorter></th>
			                                        <th><mfDefaultSorter by="service">Service</mfDefaultSorter></th>
			                                        
			                                   </tr>
			                            
			                                </thead>
			                                <tbody *ngIf="this.promotion">
			                                <tr *ngFor="let promotion of fpr.data">
			                                    <td>{{promotion.nom}}</td>
			                                    <td>{{promotion.prenom}}</td>
			                                    <td>{{promotion.telephone}}</td>
			                                    <td>{{promotion.periofidel}}</td>
			                                    <td>{{promotion.service}}</td>
			                                    
			                                </tr>
			                                </tbody>
			                                <tfoot>
			                                    <tr>
			                                        <td colspan="4">
			                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
			                                        </td>
			                                    </tr>
			                                </tfoot>

			                    		</table>

		            				</div>
		            				</div>

            	 </div>

            	 <div class="tab-pane fade in col-sm-12 col-xs-3" id="prospection" >
		            	 <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="prospection|filtreprospection:filtre" #fprs="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
					                                <thead>
					                                    <tr>
					                                        <th colspan="3" style="padding-right: 3rem ;">
					                                            Rechercher :
					                                            <input class="form-control" [(ngModel)]="filtre"/>
					                                        </th>
							                            </tr>
					                                    <tr>
					                                        <th><mfDefaultSorter by="nom">Nom</mfDefaultSorter></th>
					                                        <th><mfDefaultSorter by="prenom">Prénom</mfDefaultSorter></th>
					                                        <th><mfDefaultSorter by="telephone">Téléphone</mfDefaultSorter></th>
					                                        <th><mfDefaultSorter by="infovente">Détail</mfDefaultSorter></th>
					                                        <th><mfDefaultSorter >Action</mfDefaultSorter></th>
					                                        
					                                   </tr>
					                            
					                                </thead>
					                                <tbody *ngIf="this.prospection">
					                                <tr *ngFor="let prospection of fprs.data">
					                                    <td>{{prospection.nom}}</td>
					                                    <td>{{prospection.prenom}}</td>
					                                    <td>{{prospection.telephone}}</td>
					                                    <td><button type="button" class="btn btn-primary" popover="" popoverTitle="Détails" triggers="focus">Détails</button></td>
					                                    <td><button  class="btn btn-primary" (click)="envoyersms()">Envoyer sms</button>
					                                    </td>
					                                </tr>
					                                </tbody>
					                                <tfoot>
					                                    <tr>
					                                        <td colspan="4">
					                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
					                                        </td>
					                                    </tr>
					                                </tfoot>

					     </table>
			    </div>
			     <div class="tab-pane fade in col-sm-12 col-xs-3" id="suivicommande">
					    <table width="100%" class="table table-responsive table-bordered table-striped" [mfData]="suivicommande|filtresuivicommande:filtre" #fsc="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="nom" [(mfSortOrder)]="asc" style="width: 100%;">
					                                <thead>
					                                    <tr>
					                                        <th colspan="3" style="padding-right: 3rem ;">
					                                            Rechercher :
					                                            <input class="form-control" [(ngModel)]="filtre"/>
					                                        </th>
							                            </tr>
					                                    <tr>
					                                        <th><mfDefaultSorter by="nomclient">Nom</mfDefaultSorter></th>
					                                        <th><mfDefaultSorter by="prenomclient">Prénom</mfDefaultSorter></th>
					                                        <th><mfDefaultSorter by="pointderecuperation">Point de récupération</mfDefaultSorter></th>
					                                        <th><mfDefaultSorter by="montantcommande">Montant de la commande</mfDefaultSorter></th>
					                                        <th><mfDefaultSorter by="detail">Détails</mfDefaultSorter></th>
					                                        <th><mfDefaultSorter by="etat">Etat</mfDefaultSorter></th>
					                                        
					                                   </tr>
					                            
					                                </thead>
					                                <tbody *ngIf="this.suivicommande">
					                                <tr *ngFor="let suivicommande of fsc.data">
					                                    <td>{{suivicommande.nomclient}}</td>
					                                    <td>{{suivicommande.prenomclient}}</td>
					                                    <td>{{suivicommande.pointderecuperation}}</td>
					                                    <td>{{suivicommande.montantcommande}}</td>
					                                    <td><button type="button" class="btn btn-primary" popover="{{suivicommande.detail}}" popoverTitle="Détails" triggers="focus">Détails</button></td>
					                                    <td>{{suivicommande.etat}}</td>
					                                    
					                                </tr>
					                                </tbody>
					                                <tfoot>
					                                    <tr>
					                                        <td colspan="4">
					                                            <mfBootstrapPaginator ></mfBootstrapPaginator>
					                                        </td>
					                                    </tr>
					                                </tfoot>

					    </table>
				 </div>

	        </div>

	
        </div>
    </div>	

</div>

<div *ngIf="this.loading">
    <app-loader></app-loader>    
</div>


