<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Mise à jour cautions</h1>
        </div>
    </div>

    <div class="col-sm-12">        
        <div class="row" style="margin-top: 2rem">
		    <div class="col-sm-12">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h3>Liste agents</h3> 
		            </div>
		            <div class="table-responsive">
		                <div class="dataTable_wrapper">
		                    <table class="table table-bordered table-hover" id="dataTables-example">
		                        <thead>
		                            <tr>
			                            <th>#</th>
			                            <th>Prénom et Nom</th>
		                                <th>Téléphone</th>
			                            <th>Adresse</th>
			                            <th>Caution</th>
			                            <th>Action</th>
			                        </tr>
			                    </thead>

		                        <tbody>
		                       		<tr>
		                                <td>1</td>
		                                <td>Prénom et nom</td>
		                                <td>Téléphone</td>
		                                <td>Adresse</td>
		                                <td>Caution</td>
		                                <td><a><button type="button" class="btn btn-outline btn-warning">modifier caution</button></a></td>
		                            </tr>
		                            <tr>
		                                <td>2</td>
		                                <td>Prénom et nom</td>
		                                <td>Téléphone</td>
		                                <td>Adresse</td>
		                                <td>Caution</td>
		                                <td><a><button type="button" class="btn btn-outline btn-warning">modifier caution</button></a></td>
		                            </tr>
		                            <tr>
		                                <td>3</td>
		                                <td>Prénom et nom</td>
		                                <td>Téléphone</td>
		                                <td>Adresse</td>
		                                <td>Caution</td>
		                                <td><a><button type="button" class="btn btn-outline btn-warning">modifier caution</button></a></td>
		                            </tr>
		                        </tbody>
		                	</table>
		                </div>
		            </div>
		        </div>
		 	</div>
		</div>

    </div>
</div>