<div class="row" id="ecomhome" >
  <div class="col-sm-4 extremite">
  	<a class="btn ecomBtn" href="#ecomcatalogue" data-toggle="tab">Catalogue</a>
  </div> 

  <div class="col-sm-4" >
    <a class="btn ecomBtn" href="#prisecom" data-toggle="tab">Prendre une commande</a>
  </div>

  <div class="col-sm-4 extremite">
  	<a class="btn ecomBtn" href="#ecomespaceperso" data-toggle="tab" >Espace Perso</a>
  </div>

    <div class="row tab-content">

    	<div class="row tab-pane fade col-sm-12 col-xs-12 in active" id="ecomcatalogue">
        	<app-catalogue></app-catalogue>
    	</div>

	    <div class="row tab-pane fade col-sm-12 col-xs-12" id="ecomespaceperso">
        	<app-espace-perso></app-espace-perso>
	    </div>

      <div class="row tab-pane fade col-sm-3 col-xs-12" id="prisecom">
            <form (ngSubmit)="recupInfosCmd()" #cmdcode="ngForm">

                <label class=" control-label">Code du client </label>

            <input type="text" [(ngModel)]="codecmd"   name="codecmd" id="codecmd" class="form-control" placeholder="Code passé au client après commande." required>

            <button class="btn btn-success" type="submit" [disabled]="!cmdcode.form.valid" >
            Valider</button>
            </form>
    </div>

</div>
