<div class="row" id="ecomhome" >
  <div class="col-sm-4 extremite">
  	<a class="btn ecomBtn" href="#ecomcatalogue" data-toggle="tab">Catalogue</a>
  </div> 

  <div class="col-sm-4" >
    <a class="btn ecomBtn" href="#prisecom" data-toggle="tab">Prendre une commande</a>
  </div>

  <div class="col-sm-4 extremite">
  	<a class="btn ecomBtn" href="#ecomespaceperso" data-toggle="tab" >Espace Perso</a>
  </div>

    <div class="row tab-content">

    	<div class="row tab-pane fade col-sm-12 col-xs-12 in active" id="ecomcatalogue">
        	<app-catalogue></app-catalogue>
    	</div>

	    <div class="row tab-pane fade col-sm-12 col-xs-12" id="ecomespaceperso">
        	<app-espace-perso></app-espace-perso>
	    </div>

      <div class="row tab-pane fade col-sm-offset-2 col-sm-8 col-xs-12" style="margin-top: 3rem ; background-color:#f8f8f8;" id="prisecom">

      <div class="col-sm-3 col-xs-12" style="text-align: right; padding-top : 1.5rem ;">
                <label class=" control-label">Code du client </label>
      </div>

      <div class="col-sm-6 col-xs-12" style="text-align: center;">
            <input type="text" [(ngModel)]="codecmd"   name="codecmd" id="codecmd" class="form-control" placeholder="Code passé au client après commande." required>
      </div>
      <div class="col-sm-3 col-xs-12" style="text-align: left; padding-top : 1rem ;">
            <button class="btn btn-success" (click)="recupInfosCmd()"  >
            Valider</button>
      </div>
    </div>

</div>
