
html{
	background-color: white ;
}

input{	 
	margin: 1rem !important;
}

body{
	padding-top: 0rem !important ;
}

/*a{
	color : white !important;
}


a:hover{
	background-color : white ;
	color : #337ab7 !important;
}

td{	
	background-color : white !important;
}
*/
.bg
{ 
	background-color: white;
}

/*.panel-body{
	background-color : #337ab7 !important;
}
*/