
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <ul id="haut" class="nav navbar-nav side-nav">
                <li role="presentation"  ><a [routerLink]="['/accueil', 'CRM']" >CRM</a></li>
                <li role="presentation"  ><a [routerLink]="['/accueil', 'DASHBOARD']" >DASHBOARD</a></li>
                <li role="presentation"  ><a [routerLink]="['/accueil', 'E-COMMERCE']" >E-COMMERCE</a></li>
            </ul>
        </div>
        <div class="navbar-inverse sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul id="gauche" class="nav in" id="side-menu">
                    <li *ngFor="let api of registredAPIs" >
                        <a [routerLink]="['/accueil', api]">{{api}}</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" style="min-height: 292px;">
        <div class="row">
            <router-outlet></router-outlet>
        </div>

    </div>
    <!-- /#page-wrapper -->






