.icon-bar{
    background-color : white !important;
    width: 100% ;
}

#haut {
   margin-left: 35rem;

}

body {
    padding-top: 3rem !important;
}

#haut li {
   margin-left: 10rem;
    font-size: larger;
    text-transform: uppercase;

}

#haut a{
    min-width: 13rem ;
    text-align: center ;
}
#haut a:hover{
    background-color: #337ab7 !important ;
    color: white ;
}

#gauche {
    margin-bottom: 30rem;

}
#gauche li{
    margin-bottom: 15rem;
    font-size: larger;
}



#wrapper{
	background-color: white ;
	height: 100%;
}

#page-wrapper{
	height: 100%;
}

#navbHead{
	background-color: white !important ;
	width : 100%;
    margin-top: 15px;
}


#side-menu a{
    background-color: #337ab7 !important ;
    color: white ;
}

#side-menu a:hover{
    background-color: white !important ;
    color:  #337ab7 ;
}

@media screen and (max-width:480px) {
    
    #haut {
       margin-left: 0px;
    }
    .navbar-header{
        background-color: #337ab7 ;
        color : white ;
    }

    .navbar-header button{
        margin-right: 4rem ;
        border : 0px ;
    }
}
