<div class="h">

<ul class="nav nav-tabs nav-justified">
    <li role="presentation"  ><button href="#" [disabled]="!this.authorisedToUseCRM">CRM</button></li>
    <li role="presentation"  ><button href="#">DASHBOARD</button></li>
    <li role="presentation"  ><button href="#">E-COMMERCE</button></li>
</ul>
</div>
<div class="v">
<ul class="nav nav-pills nav-stacked">
    <li *ngFor="let api of registredAPIs">
        <span>{{api}}</span>
    </li>
</ul>

<div>
<router-outlet>
</router-outlet>
</div>

</div>

