
<div id="wrapper">

    <!-- Navigation -->

     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    
        <div class="navbar-collapse" id="navbHead">
            <ul id="haut" class="nav navbar-nav navbar-center  top-nav in">
                <li role="presentation"  ><a [routerLink]="['/accueil', 'GESTIONREPORTING']" >GESTION REPORTING</a></li>
                <li id="med" role="presentation"  ><a [routerLink]="['/accueil', 'DEMANDEPRET']" >DEMANDE DE PRET</a></li>
                <li role="presentation"  ><a [routerLink]="['/accueil', 'E-COMMERCE']" >E-COMMERCE</a></li>
            </ul>
        </div>
        
        <div class="navbar-inverse sidebar" role="navigation" id="leftsidemenu">

            <div class="sidebar-nav navbar-collapse">
                <ul id="gauche" class="nav in" id="side-menu">
                    <li *ngFor="let api of registredAPIs" >
                        <a [routerLink]="['/accueil', api]">{{api}}</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper"  style="padding-top: 3rem; margin-top:25px;">
        <div class="row">
            <router-outlet></router-outlet>
        </div>

    </div>
    <!-- /#page-wrapper -->






