<div class="row">
  <div class="col-md-6">
    <label>Recherche par département</label>
    <input [(ngModel)]="groupSelected"
         [typeahead]="centreDepartement"
         (typeaheadLoading)="changeTypeaheadLoading($event)"
         (typeaheadNoResults)="changeTypeaheadNoResults($event)"
         (typeaheadOnSelect)="typeaheadOnSelect($event)"
         typeaheadOptionField="name"
         typeaheadGroupField="region"
         placeholder="Locations des pdv"
         class="form-control">
    <div *ngIf="typeaheadLoading===true">
      <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
    </div>
    <div *ngIf="typeaheadNoResults===true" class="" style="">
      <i class="glyphicon glyphicon-remove"></i> Pas de réponse
    </div>
  </div>
</div>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<h1>{{ title }}: {{nameSelected | json}}</h1>

<agm-map [latitude]="lat" 
      [longitude]="lng"
      [zoom]="zoom"
    >
  		<agm-marker *ngFor="let m of markers; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [title]="m.title"
        >
        	
        	<agm-info-window>
          		<h2>{{m.content}}</h2>
          		<i>{{m.content}}</i>
        	</agm-info-window>
        
        </agm-marker>

        <agm-circle [latitude]="lat + 1.3" [longitude]="lng" 
          [radius]="5000"
          [fillColor]="'yellow'"
          [editable]="true">
      	</agm-circle>

</agm-map>