<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" 
      [longitude]="lng"
      [zoom]="zoom"
    >
  		<agm-marker *ngFor="let m of markers; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [title]="m.title"
        >
        	
        	<agm-info-window>
          		<h2>{{m.content}}</h2>
          		<i>{{m.content}}</i>
        	</agm-info-window>
        
        </agm-marker>

        <agm-circle [latitude]="lat + 1.3" [longitude]="lng" 
          [radius]="5000"
          [fillColor]="'yellow'"
          [editable]="true">
      	</agm-circle>

</agm-map>